<!DOCTYPE html> 
<html> 

<head> 
	<title>FILE UPLOAD</title> 
</head> 

<body> 
	<h1>Single File Upload Demo</h1> 

	<form action="/upload"
	enctype="multipart/form-data" method="POST"> 
		<span>Upload File</span> 
		<input type="file" name="UploadedFile" required/> <br> 
		<input type="submit" value="submit"> 
	</form> 
</body> 

</html> 
